.box{
    border: 1px solid blue;
    text-align: center;
    margin-bottom: 20px;
}
.color {
    color: red;
}
.color2 {
    color: blue;
}
.color3{
    color: purple;
}
.box1 {
    background-color: rgb(168, 174, 174);
    padding: 10px 20px 10px 20px;
}       
.btn{
   padding: 10px 20px;
    background-color: rgb(0, 184, 0);
    border-radius: 10px;
    color: #fff;
}
.box2 {
    background-color: aliceblue;
    border-left: 5px solid green;
   padding: 0 20px 0 20px;
}